<template>
	<b-navbar toggleable="sm" type="dark" variant="dark">
		<b-navbar-brand to="/">
			<img class="logo" src="../assets/logo.png" alt="logo" />
		</b-navbar-brand>

		<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

		<b-collapse id="nav-collapse" is-nav>
			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
				<b-navbar-nav>
					<b-nav-item to="/">Home</b-nav-item>
					<b-nav-item v-if="!user.id" to="/login">Login</b-nav-item>
					<b-nav-item v-if="!user.id" to="/register">Register</b-nav-item>
					<b-nav-item v-if="user.id && user.role === 'admin'" to="/admin">Admin</b-nav-item>
					<b-nav-item v-if="user.id" to="/dashboard">Dashboard</b-nav-item>
					<b-nav-item v-if="user.id" to="/charts">Charts</b-nav-item>
					<b-nav-item v-if="user.id" to="/" @click="logout">Logout</b-nav-item>
				</b-navbar-nav>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script>
export default {
	name: "Navbar",
	props: {
		user: {
			type: Object,
			required: true,
		},
	},
	data() {
		return {
			isLoggedIn: false,
			loading: true,
		};
	},
	methods: {
		logout() {
			this.$cookies.remove("token");
			this.$emit("updateUser", {});
		},
	},
};
</script>

<style scoped>
.logo {
	height: 40px;
	margin: -10px;
}
</style>
