<template>
	<div>
		<Navbar :user="user" @updateUser="updateUser"></Navbar>
		<router-view @updateUser="updateUser" :key="$router.fullPath"></router-view>
	</div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import axios from "./services/api";

export default {
	name: "App",
	components: {
		Navbar,
	},
	data() {
		return {
			user: {},
		};
	},
	created() {
		if (this.$cookies.get("token") && !this.user.id) {
			axios()
				.post("/api/verify")
				.then((response) => {
					this.user = response.data;
				})
				.catch((err) => {
					console.log(err);
				});
		}
	},
	methods: {
		updateUser(user) {
			this.user = user;
		},
	},
};
</script>

<style>
</style>
