<template>
	<div class="container">
		<b-table striped hover bordered :items="sensors" :fields="fields" small>
			<template #cell(action)="row">
				<b-button size="sm" :disabled="row.item.started" @click="startSensor(row.item)" variant="primary" class="mr-1"> Start sensor </b-button>
				<b-button size="sm" :disabled="!row.item.started" @click="stopSensor(row.item)" variant="primary" class="mr-1"> Stop sensor </b-button>
				<b-button :id="row.item._id" size="sm" variant="danger" class="mr-1">
					<b-icon icon="trash" aria-hidden="true"></b-icon>
				</b-button>

				<b-popover :target="row.item._id" :ref="row.item._id" variant="danger" triggers="focus">
					<template #title>Danger!</template>
					<b-button size="sm" @click="deleteSensor(row.item)" variant="danger" class="mr-1">Delete</b-button>
					<b-button size="sm" @click="closePopover(row.item._id)" variant="primary" class="mr-1">Cancel</b-button>
				</b-popover>

			</template>
		</b-table>

		<div class="sensor-content">
			<b-card title="Add new sensor" class="sensor-card" text-variant="black">
				<b-form @submit.prevent="onSubmit">
					<b-form-group id="input-group-2" label="Your sensor name:" label-for="input-2">
						<b-form-input id="input-2" v-model="sensorName" placeholder="Enter sensor name" autocomplete="off"> </b-form-input>
					</b-form-group>

					<b-button :class="sensorName.length !== 0 ? '' : 'disabled'" type="submit" variant="primary">Submit</b-button>
				</b-form>
				<br />

				<div v-if="errorMessage" class="error-message">
					{{ errorMessage }}
				</div>
			</b-card>
		</div>
	</div>
</template>

<script>
	import axios from "../services/api";
	export default {
		name: "Admin",
		data() {
			return {
				sensors: [],
				fields: [],
				sensorName: "",
				errorMessage: "",
			};
		},
		created() {
			this.getSensors();
		},
		methods: {
			async getSensors() {
				await axios()
				.get("/api/sensor")
				.then((response) => {
					this.sensors = response.data;
					if (this.sensors.length > 0) {
						Object.keys(this.sensors[0]).forEach((key) => {
							this.fields.push({ key: key });
						});
						this.fields.push({ key: "action" });
					}
				})
				.catch((err) => {
					console.log(err);
				});
			},
			async onSubmit() {
				await axios()
				.post("/api/sensor", { sensorName: this.sensorName })
				.then(() => {
					this.errorMessage = "";
					this.sensorName = "";
				})
				.catch(() => {
					this.errorMessage = "Something went wrong";
				});

				await this.getSensors();
			},
			async startSensor(item) {
				if (item.started) {
					return;
				}
				await axios()
					.post("/api/sensor/start", { sensorName: item.name })
					.then(() => {
						this.sensors.filter((sensor) => sensor.name === item.name).forEach((sensor) => (sensor.started = true));
					})
					.catch((err) => {
						console.log(err);
					});
			},
			async stopSensor(item) {
				if (!item.started) {
					return;
				}
				await axios()
					.post("/api/sensor/stop", { sensorName: item.name })
					.then(() => {
						this.sensors.filter((sensor) => sensor.name === item.name).forEach((sensor) => (sensor.started = false));
					})
					.catch((err) => {
						console.log(err);
					});
			},
			async deleteSensor(item) {
				await axios()
					.delete("/api/sensor/" + item._id)
					.then(() => {
						this.sensors = this.sensors.filter((sensor) => sensor._id !== item._id);
					})
					.catch((err) => {
						console.log(err);
					});
			},
			closePopover(ref) {
				this.$refs[ref].$emit('close')
			},
		},
	};
</script>

<style scoped>
.container {
	text-align: center;
}
.sensor-content {
	padding: 40px;
	display: flex;
	justify-content: center;
}
.sensor-card {
	background-position: center;
	background-size: cover;
	width: 25rem;
}
.error-message {
	color: red;
}
@media screen and (max-width: 600px) {
	.sensor-content {
		padding: 20px;
	}
	.sensor-card {
		width: 20rem;
	}
}
</style>
