<template>
	<div>
		<div class="button-container">
			<b-button :disabled="loading.temperature" size="sm" @click="loadTemperature()" class="mr-1"> Load Temperature data</b-button>
			<b-button :disabled="loading.co2" size="sm" @click="loadCo2()" class="mr-1"> Load co2 data </b-button>
		</div>
		<div class="container" id="barChart"></div>

		<div class="container" id="lineChart"></div>
	</div>
</template>

<script>
import axios from "../services/api";

import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
export default {
	name: "Charts",
	data() {
		return {
			chartData: [],
			loading: {
				temperature: false,
				co2: false,
			},
		};
	},
	async mounted() {
		await this.makeBarChart();
		await this.makeLineChart();
	},
	beforeDestroy() {
		if (this.barChart) {
			this.barChart.dispose();
		}
		if (this.lineChart) {
			this.lineChart.dispose();
		}
	},
	methods: {
		makeBarChart() {
			let barChart = am4core.create("barChart", am4charts.XYChart);
			let title = barChart.titles.create();
			title.text = "Bar chart";
			title.fontSize = 25;
			title.marginBottom = 15;

			barChart.paddingRight = 20;

			barChart.data = this.chartData;

			let dateAxis = barChart.xAxes.push(new am4charts.DateAxis());
			dateAxis.renderer.grid.template.location = 0;
			dateAxis.skipEmptyPeriods = true;
			dateAxis.title.text = "Date";
			dateAxis.baseInterval = {
				timeUnit: "minute",
				count: 10,
			};

			let valueAxis = barChart.yAxes.push(new am4charts.ValueAxis());
			valueAxis.tooltip.disabled = true;
			valueAxis.renderer.minWidth = 35;
			valueAxis.title.text = "Value";

			let series = barChart.series.push(new am4charts.ColumnSeries());
			series.dataFields.dateX = "date";
			series.dataFields.valueY = "value";

			series.tooltipText = "{valueY.value}";
			barChart.cursor = new am4charts.XYCursor();

			barChart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm:ss";
			this.barChart = barChart;
		},
		makeLineChart() {
			let lineChart = am4core.create("lineChart", am4charts.XYChart);
			let title = lineChart.titles.create();
			title.text = "Line chart";
			title.fontSize = 25;
			title.marginBottom = 15;

			lineChart.paddingRight = 20;

			lineChart.data = this.chartData;

			let dateAxis = lineChart.xAxes.push(new am4charts.DateAxis());
			dateAxis.renderer.grid.template.location = 0;
			dateAxis.skipEmptyPeriods = true;
			dateAxis.title.text = "Date";
			dateAxis.baseInterval = {
				timeUnit: "minute",
				count: 10,
			};

			let valueAxis = lineChart.yAxes.push(new am4charts.ValueAxis());
			valueAxis.tooltip.disabled = true;
			valueAxis.renderer.minWidth = 35;
			valueAxis.title.text = "Value";

			let series = lineChart.series.push(new am4charts.LineSeries());
			series.dataFields.dateX = "date";
			series.dataFields.valueY = "value";

			series.tooltipText = "{valueY.value}";
			lineChart.cursor = new am4charts.XYCursor();

			lineChart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm:ss";
			this.lineChart = lineChart;
		},
		async loadTemperature() {
			this.loading.temperature = true;
			await axios()
				.get("/api/sensorData/chart/type/temperature")
				.then((response) => {
					this.chartData = response.data;
				})
				.catch((err) => {
					console.log(err);
				});

			this.lineChart.yAxes.values[0].title.text = "Temperature";
			this.barChart.yAxes.values[0].title.text = "Temperature";

			this.lineChart.data = this.chartData;
			this.barChart.data = this.chartData;
			setTimeout(() => (this.loading.temperature = false), 2000);
		},
		async loadCo2() {
			this.loading.co2 = true;
			await axios()
				.get("/api/sensorData/chart/type/co2")
				.then((response) => {
					this.chartData = response.data;
				})
				.catch((err) => {
					console.log(err);
				});

			this.lineChart.yAxes.values[0].title.text = "Co2";
			this.barChart.yAxes.values[0].title.text = "Co2";

			this.lineChart.data = this.chartData;
			this.barChart.data = this.chartData;
			setTimeout(() => (this.loading.co2 = false), 2000);
		},
	},
};
</script>

<style scoped>
.container {
	width: 100%;
	height: 400px;
}
.button-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
</style>