<template>
	<div class="container">
		<div class="button-container">
			<b-button :disabled="loading.refresh" size="sm" @click="getData()" class="mr-1"> Refresh</b-button>
			<b-button :disabled="loading.temperature" size="sm" @click="loadTemperature()" class="mr-1"> Load Temperature data</b-button>
			<b-button :disabled="loading.co2" size="sm" @click="loadCo2()" class="mr-1"> Load co2 data </b-button>
			<b-form-select class="w-25" size="sm" v-model="selectedSensor" :options="sensors"></b-form-select>
		</div>
		<b-table sticky-header="500px" striped hover bordered :items="sensorData" small> </b-table>
	</div>
</template>

<script>
import axios from "../services/api";

export default {
	name: "Dashboard",
	data() {
		return {
			sensorData: [],
			sensors: [{ value: null, text: "Select a sensor" }],
			selectedSensor: null,
			loading: {
				refresh: false,
				temperature: false,
				co2: false,
			},
		};
	},
	mounted() {
		this.getData();
		this.getSensors();
	},
	watch: {
		selectedSensor(newValue, oldValue) {
			if (newValue && newValue != oldValue) {
				this.getData("/search/sensor/" + newValue);
			}
		},
	},
	methods: {
		async getSensors() {
			await axios()
				.get("/api/sensor")
				.then((response) => {
					response.data.forEach((element) => {
						this.sensors.push({ value: element.name, text: element.name });
					});
				})
				.catch((err) => {
					console.log(err);
				});
			console.log(this.sensors);
		},
		async getData(searchString = "") {
			this.loading.refresh = true;
			await axios()
				.get("/api/sensorData/" + searchString)
				.then((response) => {
					this.sensorData = response.data;
				})
				.catch((err) => {
					console.log(err);
				});
			setTimeout(() => (this.loading.refresh = false), 2000);
		},
		async loadTemperature() {
			this.loading.temperature = true;
			await axios()
				.get("/api/sensorData/search/type/temperature")
				.then((response) => {
					this.sensorData = response.data;
				})
				.catch((err) => {
					console.log(err);
				});
			setTimeout(() => (this.loading.temperature = false), 2000);
		},
		async loadCo2() {
			this.loading.co2 = true;
			await axios()
				.get("/api/sensorData/search/type/co2")
				.then((response) => {
					this.sensorData = response.data;
				})
				.catch((err) => {
					console.log(err);
				});
			setTimeout(() => (this.loading.co2 = false), 2000);
		},
	},
};
</script>

<style scoped>
.container {
	text-align: center;
}
.button-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
</style>
