<template>
	<div class="container">
		<h1>Mobile platform project</h1>
		<p>
			The main focus is on creating an application (website in this case) accessible on pretty much on any device where the aim is to contribute to
			sustainable development from an environmental perspective.
		</p>
		<p>Keep in mind this is a learning project and the idea is to focus on "smart house / offise" by monitoring certain things via sensors.</p>
		<p>
			For the proof of concept sensor data is generated via a separate project which communicates with the backend. To keep things simple 2 types of
			sensor data (temperate and co2) is being generated with ability to simulate multiple sensor scenario.
		</p>
		<img src="../assets/sensors.jpg" />
	</div>
</template>

<script>
export default {
	name: "Home",
};
</script>

<style scoped>
.container {
	text-align: center;
}
img {
	height: 500px;
	width: 800px;
}
</style>
