<template>
	<div class="login-content">
		<b-card class="login-card" text-variant="black">
			<b-form @submit.prevent="onSubmit">
				<b-form-group id="input-group-2" label="Your username:" label-for="input-2">
					<b-form-input id="input-2" v-model="username" placeholder="Enter username" :state="validateInputLenght(username)" autocomplete="off">
					</b-form-input>
					<b-form-invalid-feedback id="input-group-2-feedback"> Enter at least 6 characters </b-form-invalid-feedback>
				</b-form-group>

				<b-form-group id="input-group-3" label="Your Password:" label-for="input-3">
					<b-form-input id="input-3" v-model="password" type="password" :state="validateInputLenght(password)" placeholder="Enter Password">
					</b-form-input>

					<b-form-invalid-feedback id="input-group-3-feedback"> Enter at least 6 characters </b-form-invalid-feedback>
				</b-form-group>

				<b-button :class="isFormValid ? '' : 'disabled'" type="submit" variant="primary">Submit</b-button>
			</b-form>
			<br />

			<div v-if="errorMessage" class="error-message">
				{{ errorMessage }}
			</div>
		</b-card>
	</div>
</template>

<script>
import axios from "../services/api";

export default {
	name: "Login",
	data() {
		return {
			username: "",
			password: "",
			errorMessage: "",
		};
	},
	computed: {
		isFormValid() {
			if (this.validateInputLenght(this.password, true) && this.validateInputLenght(this.username, true)) {
				return true;
			}
			return false;
		},
	},
	methods: {
		validateInputLenght(value, submit = false) {
			if (value.length === 0 && !submit) {
				return null;
			} else if (value.length > 5) {
				return true;
			} else {
				return false;
			}
		},
		onSubmit() {
			if (!this.isFormValid) {
				this.errorMessage = "Username or password is wrong";
				return;
			}
			axios()
				.post("/api/login", { username: this.username, password: this.password })
				.then((response) => {
					this.errorMessage = "";
					if (response.data.token) {
						this.$emit("updateUser", response.data);
						this.$cookies.set("token", response.data.token);
						this.$router.push("/dashboard");
					}
				})
				.catch((error) => {
					console.log(error);
					if (error.response.status === 400) {
						this.errorMessage = error.response.data;
					} else {
						this.errorMessage = error.response.data;
					}
					this.username = "";
					this.password = "";
				});
		},
	},
};
</script>

<style scoped>
.login-content {
	padding: 40px;
	display: flex;
	justify-content: center;
}
.login-card {
	background-position: center;
	background-size: cover;
	width: 25rem;
}
.error-message {
	color: red;
}
@media screen and (max-width: 600px) {
	.login-content {
		padding: 20px;
	}
	.login-card {
		width: 20rem;
	}
}
</style>
