<template>
	<div class="container">
		<img class="not-found" src="../assets/not-found.jpg" />
		<h3>
			The page you were looking was not found click
			<router-link to="/"><b>Home</b></router-link>
			to get back to home page
		</h3>
	</div>
</template>

<script>
export default {
	name: "NotFound",
};
</script>

<style scoped>
.not-found {
	height: 500px;
	width: 800px;
}
.container {
	text-align: center;
}
</style>
