<template>
	<div class="register-content">
		<b-card class="register-card" text-variant="black">
			<b-form @submit.prevent="onSubmit">
				<b-form-group id="input-group-2" label="Your username:" label-for="input-2">
					<b-form-input id="input-2" v-model="username" placeholder="Enter username" :state="validateInputLenght(username)" autocomplete="off">
					</b-form-input>
					<b-form-invalid-feedback id="input-group-2-feedback"> Enter at least 6 characters </b-form-invalid-feedback>
				</b-form-group>

				<b-form-group id="input-group-3" label="Your Password:" label-for="input-3">
					<b-form-input id="input-3" v-model="password" type="password" :state="validateInputLenght(password)" placeholder="Enter Password">
					</b-form-input>

					<b-form-invalid-feedback id="input-group-3-feedback"> Enter at least 6 characters </b-form-invalid-feedback>
				</b-form-group>

				<b-form-group id="input-group-4" label="Repeat Password:" label-for="input-4">
					<b-form-input id="input-4" v-model="password2" type="password" :state="validatePassword2()" placeholder="Repeat Password"> </b-form-input>

					<b-form-invalid-feedback id="input-group-4-feedback"> Passwords do not match </b-form-invalid-feedback>
				</b-form-group>

				<b-button :class="isFormValid ? 'disabled' : ''" type="submit" variant="primary">Submit</b-button>
			</b-form>
			<br />

			<div v-if="errorMessage" class="error-message">
				{{ errorMessage }}
			</div>
		</b-card>
	</div>
</template>

<script>
import axios from "../services/api";

export default {
	name: "Register",
	data() {
		return {
			username: "",
			password: "",
			password2: "",
			errorMessage: "",
		};
	},
	computed: {
		isFormValid() {
			if (this.validateInputLenght(this.password, true) && this.validateInputLenght(this.username, true) && this.validatePassword2(true)) {
				return false;
			}
			return true;
		},
	},
	methods: {
		validatePassword2(submit = false) {
			if (this.password2.length === 0 && !submit) {
				return null;
			} else if (this.password2 === this.password) {
				return true;
			} else {
				return false;
			}
		},
		validateInputLenght(value, submit = false) {
			if (value.length === 0 && !submit) {
				return null;
			} else if (value.length > 5) {
				return true;
			} else {
				return false;
			}
		},
		onSubmit() {
			if (this.isFormValid) {
				this.errorMessage = "Form is not valid";
				return;
			}
			axios()
				.post("/api/register", { username: this.username, password: this.password })
				.then((response) => {
					if (response.status === 200) {
						this.$router.push("/login");
					}
				})
				.catch((error) => {
					if (error.response.status === 409) {
						this.errorMessage = "Choose another username";
					} else {
						this.errorMessage = "Something went wrong...";
					}
					this.username = "";
					this.password = "";
					this.password2 = "";
				});
		},
	},
};
</script>

<style scoped>
.register-content {
	padding: 40px;
	display: flex;
	justify-content: center;
}
.register-card {
	background-position: center;
	background-size: cover;
	width: 25rem;
}
.error-message {
	color: red;
}
@media screen and (max-width: 600px) {
	.register-content {
		padding: 20px;
	}
	.register-card {
		width: 20rem;
	}
}
</style>
